# 라이브러리 폴더 무시
/libs/*
!/libs/.gitkeep

# 가상 환경 폴더 무시
/ffmpegGUI_venv

# 빌드 폴더 무시
/build
/lhcVideoDownloader/build

# 배포 폴더 무시
/dist
/lhcVideoDownloader/dist

# 로그 폴더 무시
/log

# 캐시 폴더 무시
/cache

# pycache 무시
__pycache__

# 임시 폴더 무시
/tmp

# 임시 파일 무시
*.tmp
*.tmp.*


