altgraph
appdirs
certifi
charset-normalizer
ffmpeg-python
future
idna
numpy
opencv-python
packaging>=24.2
pefile
pillow
psutil
pyinstaller>=6.16,<7
pyinstaller-hooks-contrib>=2026.6,<2027
PySide6
PySide6_Addons
PySide6_Essentials
pywin32-ctypes
requests
setuptools
shiboken6
urllib3
